
@{
    ViewBag.Title = "DanhSachThietBi_NULL";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>Danh sách thiết bị của tôi</h2>
<div class="alert alert-danger">
    <h3>Không có thiết bị nào thuộc dự án!</h3>
</div>

